<head>
  <meta charset="utf-8">
  <title>Hotdogs Stock Price Lookup</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
