<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ask Us Anything</title>
  </head>
  <body>

    <form action="/answer">
      <label>
        Ask us anything:
        <input name="question" placeholder="What's wrong with that man's face?">
      </label>
      <button>Submit</button>
    </form>

  </body>
</html>
