<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
  </head>
  <body>

    <h1>Hello world from Express.js</h1>

    Random brother: <%= brother %>

  </body>
</html>
