<h2>Asset Helpers</h2>

<!-- cache busting -->
<%= image_tag 'funny.jpg' %>

<%= image_tag 'http://www.fillmurray.com/500/750', :class => 'hotdogs', :alt => 'Bill Murray squinting' %>

<p>There are also asset helpers for <code>video_tag, audio_tag</code></p>
