<h1>Dashboard</h1>

<p>Brother: <span id="brother"><%= @brother %></span></p>
<p>Time: <span id="time"></span></p>
<p>Uptime: <span id="uptime"><%= @uptime %></span></p>
<p>Calls currently on hold: <%= @calls_on_hold %></p>
<p>Bushfires gone wild: <%= @bushfires %></p>
