/*

* { border: 1px solid limegreen; }  Easy CSS debugging */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
  background-color: #222; /* #321 => #332211 */
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

.container {
  max-width: 960px; /* lazy responsive container */
  margin: 0 auto; /* center */
  background-color: #ccc;
  padding: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  font-size: 400%;
  padding: 0.5em;
  text-transform: uppercase; /* Accessible ALL CAPS */
}

main {
  width: 75%;
  display: inline-block;
}

main img {
  display: block; /* Can't set margins on display: inline (the default for img) */
  margin: 0 auto;
}

aside {
  width: 20%; /* In CSS: 75% + 20% =~ 100% */
  display: inline-block;
  vertical-align: top;
  background-color: #cfc; /* IRL: use more tasteful colors */
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 15px 15px black;
}

aside ul {
  padding-left: 18px;
}
