<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Title</h1><!-- CSS TODO: transform this to uppercase -->
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/410/600" alt="Bill Murray's beautiful head">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, doloremque, velit placeat id voluptatem labore suscipit iure quis necessitatibus laboriosam. Earum iusto nemo illum odio? Unde aut repellat eaque excepturi.</p>
      <p>Doloribus ex, aspernatur quos eveniet ipsum ipsam quo ratione quas! Eos necessitatibus voluptatum ipsam, dolor, sed dolore quaerat deserunt reiciendis. Minima accusamus nisi vero corporis, similique sequi ex nulla necessitatibus.</p>
      <p>Cupiditate deleniti consequatur numquam quasi, rem tenetur impedit quos. Delectus alias quis consequuntur nesciunt soluta odit veritatis, exercitationem voluptas reprehenderit accusamus! Aspernatur, quis architecto non repudiandae rem harum ex dolor?</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>

  </div>

</body>
</html>
