<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="http://lobste.rs">lobsters</a>
  </nav>

  <h1>That's Numberwang!!!</h1>

  <!-- dynamic content goes here -->
  <%= yield %>
  <!-- dynamic content ends -->

</body>
</html>
